@keyframes CrossFade {
  25% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
  40% {
    opacity: 0;
  }
}

.carousel-container {
  margin-top: 1rem;
}
.carousel-slide {
  max-height: 16rem;
  overflow:hidden;
  // opacity:0.0;
  &.active {
    opacity: 1.0;
  }
}
.carousel-img {
  width: 100%;
  height: auto;

  &.active {
    z-index: 2;
  }
  transform: scale(1.4) rotate(12deg);
  animation: CrossFade 24s infinite;
}
.img-slide {
}
