@import './../../Styles/colors';

.btn {
  padding: 1rem 1.5rem;
  margin: 1rem auto;

  display: flex;
  z-index: 2;
  cursor: pointer;

  &:active {
    // background: $hotBlue;
  }

  svg {
    height: 1.5rem;
    width: auto;
    display: block;
    margin: 0 auto 0.5rem;
  }

  &.primary {
    // background-color:$green;

    & + .btn {
      background: #111;
    }
  }
}
.btn-text {
  margin: 0 auto;
}
.btn-social {
  display: block;
  padding: 0;
  .btn-text {
    text-align: center;
    display: none;
  }
}

.primary {
  background: #121252;
  // padding: .75rem;
  // margin-top: 1rem;
  // border:0;
  .btn-text {
    display: initial;
    font-weight: 700;
  }

  // & + .btn {
  // }
}

.btn-icon {
  padding: 0;
  margin: 0;
  display: inline-block;
  svg {
    height: 1.5em;
    width: auto;
  }
}

// Start on the smallest screen, work your way up.

/* (iPhone 5 Portrait [320px]) */

/* iPhone 6 and above */
@media (min-width: 375px) {
  @media (orientation: portrait) {
  }
}

@media (min-width: 414px) {
  @media (orientation: portrait) {
  }
}

/* Some larger smartphones in portrait mode */
@media (min-width: 515px) {
  @media (orientation: portrait) {
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  @media (orientation: portrait) {
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .btn {
    // max-width: calc(56rem / 5);
    padding: 1rem 3rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .btn-social {
    display: block;
    .btn-text {
      display:initial;
      font-size:0.75rem;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn {
    // border: initial;
    &.primary {
      // border: initial;
    }
  }
  .btn-text {
    display: initial;
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.115pt;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }
  .btn-icon {
    svg {
      width: 2rem;
      height: auto;
    }
  }
}
/* iPad Pro */
@media (min-width: 1024px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Straight-up 1080 */
@media (min-width: 1920px) {
}

/* Straight-up 4k Displays */
@media (min-width: 3840px) {
}
