@import './../../Styles/colors';

.ui-location {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1rem .5rem;
  margin-bottom: 1rem;
  // background: grey;
  border-radius: .5rem;

  // border: 2px solid white;
}

.location-text {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  i {
    font-family: 'Coromont Garamond';
    display:block;
    font-style: italic;
  }
}

.location-icon {
  // color:$blueprintBG;
}

// Start on the smallest screen, work your way up.

/* (iPhone 5 Portrait [320px]) */

/* iPhone 6 and above */
@media (min-width: 375px) {
  @media (orientation: portrait) {
  }
}

@media (min-width: 414px) {
  @media (orientation: portrait) {
  }
}

/* Some larger smartphones in portrait mode */
@media (min-width: 515px) {
  @media (orientation: portrait) {
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .ui-location {
    border: initial;
  }
  @media (orientation: portrait) {
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* iPad Pro */
@media (min-width: 1024px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Straight-up 1080 */
@media (min-width: 1920px) {
}

/* Straight-up 4k Displays */
@media (min-width: 3840px) {
}
