.hero {
  padding:0;
  margin: 0;
  // border: 8px solid white;
  opacity:0.0;
  background: black;
  transform: translateY(-80%);

  border-top:1px solid rgba(255,255,255,0.3);

    // margin-left: -2rem;
    // margin-right: -2rem;
  &.is-loaded {
    border-top:8px solid rgba(255,255,255,1.0);
    transform: translateY(0);
    opacity:1.0;
    transition:opacity, transform ease-in-out 1.618s;
  }
}

.hero {

}

.hero-front,
.hero-bg {

  top:0;
}