.hero {
  text-align: center;
  background: #2f1ab5;
  border-bottom: 8px solid #d7a03d;
  width: 100%;
  margin: 8rem auto 0; }

/* (iPhone 5 Portrait [320px]) */
/* iPhone 6 and above */
/* Small devices (landscape phones, 544px and up) */
/* Small devices (landscape phones, 544px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/* Straight-up 1080 */
/* Straight-up 4k Displays */
