$darkestBlack:#111;

$blueprintLine:rgb(64, 52, 144);
$blueprintBG:#537ABD;

$hotBlue:#1507C3;
$regalBlue:#2E1AB5;
$shadeBlue:#221388;
$shadierBlue:#170D5A;
$darkBlue:#0C072D;

$yikesPink:#B20077;
$flatPink:#A6007A;
$subduedPink:#7C005B;
$shadePink:#53003D;

$woahRed:#D3000B;
$flatRed:#C40020;
$shadeRed:#C40020;

$goldenRod:rgb(215, 160, 60);

$ayeGreen:#1BB714;