h1, h2, h3, [class^='title'] {
  font-family: ariamo; }

h1 {
  font-family: Montserrat;
  font-size: 3.25rem;
  font-weight: 900;
  margin-bottom: 0; }

h1 + .subtitle {
  font-family: ariamo;
  font-size: 2rem;
  font-weight: 600;
  text-transform: lowercase; }
