@import './colors';

[class*='hidden'] {
  display: none;
}

.btn {
  border: 0.15rem solid white;
  padding:(0.5rem) 0;
  margin:0 0 (1rem  - 0.15rem);
  display: block;
  z-index: 2;
  font-size: 0.8rem;
  font-weight:600;
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.115pt;
  z-index: 0;
  text-align: center;

  &:active {
    background: $hotBlue;
  }

  svg {
    height:1.5rem;
    width:auto;
    display:block;
    margin: 0 auto 0.5rem;
  }
}

[viewBox='0 0 24 24'] {
  // height:2rem;
  // width:2rem;
}

// Start on the smallest screen, work your way up.

/* (iPhone 5 Portrait [320px]) */

/* iPhone 6 and above */
@media (min-width: 375px) {

}

@media (min-width: 414px) {

}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

} 

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
  /* iPad Pro */
@media (min-width: 1024px) {  
 
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}

/* Straight-up 1080 */
@media (min-width: 1920px) {  
    
}

/* Straight-up 4k Displays */
@media (min-width: 3840px) {  

}