@import './colors';

[class*='hidden'] {
  display:none;
}

.btn {
  border:.15rem solid white;
  // margin:0 1rem;
  padding:1rem;
  display: inline-block;
  z-index:2;
  font-size:1.25rem;

      // background:$ayeGreen;
  &:active {
    background:$hotBlue;

  }
}