@import './../../Styles/colors';

:root {
  font-size: 18px;
}
:root {
  font-family: 'Montserrat', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color:white;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
h1,
h2,
h3,
[class^='title'] {
  font-family: 'Cormorant Garamond', serif;
  font-variant-ligatures: historical-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 2;
}

h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 2.88888889rem;
  margin-bottom: 0;
  font-weight: 700;
  font-variant-ligatures: historical-ligatures;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  // line-height:1.25em;
  font-style: italic;
  font-size: 1.75rem;
  margin:1rem 0 -0.5rem;
  font-weight:700;

  // border-bottom:1px solid white;

  &.subtitle {
  }
}

footer {
  text-transform: uppercase;
  margin-top: 6rem;
  font-size: 0.5rem;
  color: lightgrey;
  font-weight: bolder;
}
