@import './../Styles/colors';
#nav-main {
  margin-bottom: 1rem;
}
.nav-toggle {
  margin-left: auto;
  // margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  svg {
    height: 3rem;
    width: 4rem;
    margin-left:auto;
    // margin-top:4px;
  }
}
.nav-list {
  width: 100%;
}

.nav-link,
.nav-toggle svg {
  text-decoration: none;
  display: block;
  border: 8px solid white;
  text-decoration: none;
  border: 4px solid white;
  .icon {
    text-align: center;
    display: block;
    svg {
      color: white;
      transform: translateY(1px);
    }
  }
}
.nav-link {
  margin:8px 0;
  opacity:0.0;
  transition:background-color .5s ease-in-out, opacity, transform .666s ease-in-out;

  &:active {
    background: $shadeBlue;
  }
  .caption {
    display:block;
    color: white;
    font-weight:700;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    padding:0 0 1rem;
  }
  .icon {
    padding:1rem 1rem 0.25rem;
    max-width:3.25rem;
    margin: 0 auto;
    svg {
      width:100%;
      height:auto;
    }
  }
}
.nav-open .nav-link {
  opacity:1.0;

}


