#nav-home {
  display: flex; }

.nav-container {
  font-family: Montserrat; }
  .nav-container li {
    display: block; }

.nav-list {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between; }

.nav-link,
.nav-toggle {
  text-decoration: none;
  display: block;
  border: 8px solid white;
  height: 4.44rem;
  width: 4.44rem;
  text-decoration: none;
  display: block;
  border: 4px solid white;
  height: 42px;
  width: 96px; }
  .nav-link .caption,
  .nav-toggle .caption {
    display: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 8px; }
  .nav-link .icon,
  .nav-toggle .icon {
    text-align: center;
    vertical-align: baseline;
    display: block; }
    .nav-link .icon svg,
    .nav-toggle .icon svg {
      color: white;
      transform: translateY(1px); }

.nav-toggle {
  margin-left: auto;
  margin-bottom: 1rem;
  text-align: center;
  height: 3rem;
  width: 4rem; }
  .nav-toggle svg {
    width: 100%;
    height: 100%; }
