@import './../Styles/global.scss';
@import './../Styles/utilities.scss';
@import './../Styles/colors';
html {
}

body {
  background:$blueprintBG;
  background:$shadeBlue;
}


.frame {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y:scroll;
  // border:.15rem solid white;
  
}