input[type="tel"] {
  display:block;
  width:100%;

  margin:1rem auto;
  padding:0.5rem 1rem;

  font-size: 1.25rem;

  color:white;

  &:focus {
    outline:none;
  }
  &:valid {
    outline:blue;
  }
  &:invalid {
    outline:red;
  }
}