#main-menu {
  display: block;
  background: #2f1ab5;
  border-bottom: .25rem solid #d7a03d;
  position: sticky;
  bottom: 0;
  z-index: 1; }
  #main-menu ul {
    display: flex;
    justify-content: space-between; }
  #main-menu li {
    display: block; }
  #main-menu a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
    display: block;
    padding: .5rem .25rem; }
    #main-menu a:active {
      color: #d7a03d; }
  #main-menu span {
    display: none; }
  #main-menu .icon {
    padding: 0.5rem;
    display: block; }

/* (iPhone 5 Portrait [320px]) */
/* iPhone 6 and above */
/* Small devices (landscape phones, 544px and up) */
/* Small devices (landscape phones, 544px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/* Straight-up 1080 */
/* Straight-up 4k Displays */
/* (iPhone 5 Portrait [320px]) */
/* iPhone 6 and above */
/* Small devices (landscape phones, 544px and up) */
/* Small devices (landscape phones, 544px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/* Straight-up 1080 */
/* Straight-up 4k Displays */
