.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: round;
  resize: both;
  background-origin: content-box;
  background-size: cover;
  background-color: #2E1AB5; }

>
.gridline {
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-linejoin: miter;
  width: 100%; }
