@import './../../Styles/colors';

$bggridSpacing: 1rem;

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  // background:$hotBlue;

  opacity: 1;
}

#blueprint-bg {
  // height: 100%;
  // width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // background:radial-gradient(
  //   ellipse at center,
  //   transparentize($shadeBlue, 0.25) 0%,
  //   $shadierBlue 100%
  // );
}

#lines-y,
#lines-x {
  position: absolute;
}
#lines-y {
  top: 0;
  left: 0;
  right: 0;
}
#lines-x {
  top: 0;
  bottom: 0;
}

// $lineColor: rgba(255, 255, 255, 0.125);
$lineColor: rgba(desaturate(rgba($hotBlue,1.0), 80.0), 0.25);

.line-y {
  height: $bggridSpacing;
  width: 0;
  &.loaded {
    width: 100%;
  }
}

$allLineBaseTransition:0s;

.line-y,
.line-x {
  transition: 
    width $allLineBaseTransition ease-in-out, 
    height $allLineBaseTransition ease-in-out,
    border $allLineBaseTransition ease-in-out;
}
$transitionBorderOpacity: 1;
#blueprint.loading {
  .line-x {
    border-right: 1px dashed transparent;
    width: $bggridSpacing;
    height: 0;
    float: left;

    &.loaded {
      height: 100%;
      // border-right: 1px dashed rgba(255, 255, 255, 0.2);
      border-right: 1px dashed rgba($lineColor, $transitionBorderOpacity);
      &:nth-child(odd) {
        // opacity: 0.75;
      }
    }
  }

  .line-y {
    // border-bottom: 1px dashed rgba(255, 255, 255, $transitionBorderOpacity);
    border-bottom: 1px dashed rgba($lineColor, $transitionBorderOpacity);

    &.loaded {
      // border-bottom: 1px dashed rgba(255, 255, 255, $transitionBorderOpacity);
      border-bottom: 1px dashed rgba($lineColor, $transitionBorderOpacity);
    }
  }
}

#blueprint.loaded {
  .line-x {
    width: $bggridSpacing;
    height: 0;
    float: left;
    &.loaded {
      height: 100%;
      border-right: 
       1px 
       dotted 
       $lineColor;

    }
  }
  .line-y {
    &.loaded {
      border-bottom: 1px solid $lineColor;
    }
  }
  .loaded {
    &:nth-child(odd) {
      // opacity: 0.75;
      border-style: solid;
    }
    &:nth-child(even) {
      // opacity: 0.5;
      // border-image: url('/');
      // border-image-repeat: repeat;
      // border-image-slice:0 100%;
    }
  }
}
